API_KEY = 'XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX'
SECRET = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

SLEEP_TIME = 30

sell_coin_configs = [
	{'coin': 'LBC', 'coin_pair': 'BTC_LBC', 'amount_threshold': 5000, 'min_price': '0.00001399'},
	{'coin': 'ZEC', 'coin_pair': 'BTC_ZEC', 'amount_threshold': 15, 'min_price': '0.0499'}
]
